@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700");
html, body {
  margin: 0;
  padding: 0; }

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

*, *::before, *::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

:root {
  font-family: 'Source Sans Pro', sans-serif; }

main img {
  max-width: 100%;
  width: 100%; }

.container {
  max-width: 880px;
  max-width: 55rem;
  width: 100%;
  padding-left: 32px;
  padding-left: 2rem;
  padding-right: 32px;
  padding-right: 2rem;
  margin-left: auto;
  margin-right: auto; }

.flexy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.flexy-central {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.banner {
  min-height: 10em;
  border-bottom: 16px solid purple;
  border-bottom: 1rem solid purple;
  margin-top: 32px;
  margin-top: 2rem; }
  .banner.space-bottom {
    padding-bottom: 48px;
    padding-bottom: 3rem; }
  .banner.grey {
    border-color: #F9D62B; }
  .banner.yellow {
    border-color: #F9D62B; }
  .banner.blue {
    border-color: #1385dd; }
  .banner.red {
    border-color: #f98a8a; }
  .banner.purple {
    border-color: #ce889c; }
  .banner .flexy {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    @media (min-width: 30em) {
      .banner .flexy {
        -webkit-box-pack: start;
            -ms-flex-pack: start;
                justify-content: flex-start; } }
    @media (max-width: 29.99em) {
      .banner .flexy {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center; } }
  .banner .image {
    width: 256px;
    width: 16rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
        -ms-flex-align: baseline;
            align-items: baseline; }
  @media (max-width: 29.99em) {
    .banner {
      padding: 3rem 0 2rem; }
      .banner .flexy {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .banner .image {
        width: 60%; }
      .banner .text {
        margin-top: 2rem; } }
  @media (min-width: 30em) {
    .banner {
      padding: 4rem 0; }
      .banner .text {
        padding-bottom: 1rem;
        max-width: 24rem;
        margin-left: 4rem; } }

.image::before,
.image::after {
  border: 25px solid #F9D62B; }
  .banner.grey .image::before,
  .banner.yellow .image::before, .banner.grey
  .image::after,
  .banner.yellow
  .image::after {
    border-color: #F9D62B; }
  .banner.blue .image::before, .banner.blue
  .image::after {
    border-color: #1385dd; }
  .banner.red .image::before, .banner.red
  .image::after {
    border-color: #f98a8a; }
  .banner.purple .image::before, .banner.purple
  .image::after {
    border-color: #ce889c; }

.img--letter-special {
  overflow: hidden;
  position: relative;
  width: 100%;
  padding-top: 117%; }
  .img--letter-special img {
    -webkit-transform: rotate(66deg);
            transform: rotate(66deg);
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    position: absolute;
    top: 79px;
    right: 0px; }

.banner .container .image {
  position: relative; }
  @media (min-width: 30em) {
    .banner .container .image {
      margin-left: 2rem; } }
  .banner .container .image.shorty img {
    padding-top: 128px;
    padding-top: 8rem;
    padding-bottom: 10px; }
  .banner .container .image img,
  .banner .container .image .img--letter-special {
    border-bottom-left-radius: 128px;
    border-bottom-right-radius: 128px;
    z-index: 2; }
  .banner .container .image::before, .banner .container .image::after {
    content: " ";
    position: absolute;
    left: -23px;
    width: 119%;
    padding-top: 103%;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border-radius: 154px;
    bottom: -15px; }
    @media (max-width: 29.99em) {
      .banner .container .image::before, .banner .container .image::after {
        width: 128%; } }
  .banner .container .image::before {
    border-left-color: transparent;
    border-top-color: transparent;
    z-index: 3; }
  .banner .container .image::after {
    z-index: 1; }

.boost {
  font-size: 25.6px;
  font-size: 1.6rem; }

.plans {
  padding: 32px 0 48px;
  padding: 2rem 0 3rem; }
  @media (max-width: 52.49em) {
    .plans {
      padding-bottom: 1rem; } }
  .plans h2 {
    text-align: center;
    margin-bottom: 56px;
    margin-bottom: 3.5rem;
    color: #4F4F4F; }

.sign-up {
  text-align: center;
  padding: 2em 0 6em; }
  @media (max-width: 52.49em) {
    .sign-up {
      padding-top: 1rem; } }
  .sign-up .line-separator {
    display: block;
    height: 1px;
    background-color: #D5D5D5;
    width: 100%;
    margin-bottom: 48px;
    margin-bottom: 3rem; }
  .sign-up p:last-of-type {
    margin-bottom: 32px;
    margin-bottom: 2rem; }

.card {
  background: white;
  padding: 16px;
  padding: 1rem;
  border-radius: 6px; }
  @media (max-width: 29.99em) {
    .card {
      width: 100%; } }
  @media (max-width: 52.49em) {
    .card {
      margin-bottom: 2rem; } }
  @media (min-width: 30em) and (max-width: 52.49em) {
    .card {
      width: calc(50% - 1rem); }
      .card:first-child {
        margin-right: 2rem; } }
  @media (min-width: 52.5em) {
    .card {
      width: calc(33.33% - 18px); } }
  .card h3 {
    padding-bottom: 8px;
    padding-bottom: .5rem;
    border-bottom: 1px solid black; }
  .card:first-child {
    -webkit-box-shadow: inset -3px -3px 0px 0px #1385dd;
            box-shadow: inset -3px -3px 0px 0px #1385dd;
    border: 1px solid #1385dd; }
    .card:first-child h3 {
      border-color: #1385dd; }
  .card:nth-child(2) {
    -webkit-box-shadow: inset -3px -3px 0px 0px #F9D62B;
            box-shadow: inset -3px -3px 0px 0px #F9D62B;
    border: 1px solid #F9D62B; }
    @media (max-width: 29.99em) {
      .card:nth-child(2) {
        font-size: 1.125em;
        margin-left: -5%;
        margin-right: -5%;
        width: 110%; } }
    @media (min-width: 52.5em) {
      .card:nth-child(2) {
        margin-top: -1rem;
        margin-bottom: -1rem;
        font-size: 1.125em; } }
    .card:nth-child(2) h3 {
      border-color: #F9D62B; }
  .card:nth-child(3) {
    -webkit-box-shadow: inset -3px -3px 0px 0px #ce889c;
            box-shadow: inset -3px -3px 0px 0px #ce889c;
    border: 1px solid #ce889c; }
    .card:nth-child(3) h3 {
      border-color: #ce889c; }
  @media (min-width: 52.5em) {
    .card:not(:last-child) {
      margin-right: 27px; } }
  .card ul {
    padding-left: 16px;
    padding-left: 1rem; }
  .card h3 {
    margin-top: 3px;
    margin-bottom: 0; }
    .card h3 + p {
      margin-top: 8px; }

.main-title--top-note {
  font-style: italic;
  color: #7E7E7E;
  margin-bottom: 8px; }

.main-title--lower-note {
  color: #4F4F4F;
  margin-bottom: 40px;
  margin-top: 10px; }

header {
  text-align: center;
  padding: 48px 0 64px;
  padding: 3rem 0 4rem;
  position: relative; }
  header h1 {
    font-size: 35.2px;
    font-size: 2.2rem;
    font-weight: 700;
    margin-top: 10px;
    margin-bottom: 10px; }
  header::after {
    content: " ";
    height: 10px;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
    background: repeating-linear-gradient(40deg, #748da8, #748da8 15px, #fff 15px, #fff 25px, #ff7a88 25px, #ff7a88 40px, #fff 40px, #fff 50px); }

.mc_signup_flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .mc_signup_flex input.email {
    border: 1px solid #BABABA;
    border-right-color: transparent;
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
    padding: 8px 12px;
    margin-right: -8px;
    font-size: 14px; }
    .mc_signup_flex input.email:focus {
      outline: none;
      border-color: #7E7E7E; }
  .mc_signup_flex .button {
    font-size: 14px;
    padding: 8px 12px;
    border-radius: 16px;
    background-color: #1385dd;
    border: 1px solid #1385dd;
    margin-left: -8px;
    color: white;
    cursor: pointer; }
    .mc_signup_flex .button:focus {
      background-color: #0f69ae;
      outline: none; }

.logo-block {
  cursor: default;
  background: red;
  padding-top: 7em; }

.logo-block h1 {
  display: inline-block;
  margin-left: .3em; }

.logo-block:hover .earth-logo {
  fill: green; }
