.card {
	@include mq($until: mobile) {
		width: 100%;
	}
	@include mq($until: tablet) {
		margin-bottom: 2rem;
	}
	@include mq($from: mobile, $until: tablet) {
		width: calc(50% - 1rem);
		&:first-child {
			margin-right: 2rem;
		}
	}
	@include mq($from: tablet) {
		width: calc(33.33% - 18px);
	}
	background: white;
	padding: 1rem;
	border-radius: 6px;
	h3 {
		padding-bottom: .5rem;
		border-bottom: 1px solid black;
	}
	&:first-child {
		box-shadow: inset -3px -3px 0px 0px $mt-blue;
		border: 1px solid $mt-blue;
		h3 {
			border-color: $mt-blue;
		}
	}
	&:nth-child(2) {
		margin-top: -1rem;
    margin-bottom: -1rem;
    font-size: 1.125em;
		box-shadow: inset -3px -3px 0px 0px $mt-yellow;
		border: 1px solid $mt-yellow;
		h3 {
			border-color: $mt-yellow;
		}
	}
	&:nth-child(3) {
		box-shadow: inset -3px -3px 0px 0px $mt-purple;
		border: 1px solid $mt-purple;
		h3 {
			border-color: $mt-purple;
		}
	}
	&:not(:last-child) {
		@include mq($from: tablet) {
			margin-right: 27px;
		}
	}
	ul {
		padding-left: 1rem;
	}
	h3 {
		margin-top: 3px;
		margin-bottom: 0;
		+ p {
			margin-top: 8px;
		}
	}
}