.banner {
	min-height: 10em;
	// border-top: 1px solid purple;
	border-bottom: 1rem solid purple;
	margin-top: 2rem;
	&.space-bottom {
		padding-bottom: 3rem;
	}

	&.grey {
		// background-color: $mt-lightest-grey;
		border-color: $mt-yellow;
	}
	&.yellow {
		// background-color: $mt-lightest-yellow;
		border-color: $mt-yellow;
	}
	&.blue {
		// background-color: $mt-light-blue;
		border-color: $mt-blue;
	}
	&.red {
		// background-color: $mt-light-red;
		border-color: $mt-red;
	}
	&.purple {
		// background-color: $mt-light-purple;
		border-color: $mt-purple;
	}
	.flexy {
		align-items: center;
		@include mq($from: mobile) {
			justify-content: flex-start;
		}
		@include mq($until: mobile) {
			justify-content: center;
		}
	}
	.image {
		width: 16rem;
		display: flex;
		align-items: baseline;
	}
	@include mq($until: mobile){
		padding: 3rem 0 2rem;
		.flexy {
			flex-direction: column;
			align-items: center;
		}
		.image {
			width: 60%;
		}
		.text {
			margin-bottom: 2rem;
		}
	}
	@include mq($from: mobile){
		padding: 4rem 0;
		.text {
			padding-bottom: 1rem;
			max-width: 24rem;
			margin-left: 4rem
		}
	}
}
