$mt-dark-grey: #4F4F4F;
$mt-mid-grey: #7E7E7E;
$mt-grey: #BABABA;
$mt-light-grey: #D5D5D5;
$mt-lightest-grey: #f7f7f7;

$mt-lightest-yellow: #fffdf5;
$mt-light-yellow: #fff4c0;
$mt-light-blue: #F2FBFF;
$mt-light-red: #fffafa;
$mt-light-purple: #fbe9ee;

$mt-yellow: #F9D62B;
// $mt-yellow: #f4d866;
$mt-blue: #1385dd;
$mt-red: #f98a8a;
$mt-purple: #ce889c;