div[class*="slanty-container-"] {
	width: 165vw;
	height: 300vh;
	position: absolute;
	z-index: 3;
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 109vh 100%);
	left: calc(52vw - 49vh);
}

.slanty-container-left {
	background-color: white;
}
.slanty-container-right {
	overflow: hidden;
}

.email, 
.letter {
	position: fixed;
	top: 11vw;
	width: 70vw;
	padding-top: 42%;
	left: 15vw;
	height: 0;
}
.email::before, 
.letter::before {
	content: " ";
	display: block;
	background-color: inherit;
	height: 100%;
	width: 100%;
}

.email {
	z-index: 2;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;
}

.letter {
	background-color: #f9f7ec;
	border: 1px solid #f9f7ec;
	z-index: 1;
}

.letter-address {
	font-family: 'Dancing Script', cursive;
	position: absolute;
	left: 7vw;
	bottom: 4vw;
	font-size: 2.2vw;
}

.icon-stamp-bike {
	position: absolute;
	width: 7vw;
	top: 2vw;
	right: 2vw;
	z-index: 10;
	/* fill: #dad3ab; */
	fill: #ce869b;
}

.icon-stamp {
	opacity: .5;
	position: absolute;
	top: 4.5vw;
	width: 11vw;
	right: 7vw;
	z-index: 12;
	fill: black;
}

.email-subject {
	border-bottom: 1px solid black;
	width: 100%;
	position: absolute;
	top: 0;
	padding-left: 2.5vw;
}
.email-subject h2 {
	margin: 2vw 0;
	font-size: 2.2vw;
}

.email-content {
	position: absolute;
	top: 10vw;
	left: 2.5vw;
	width: 47vw;
	font-size: 1.2vw;
	max-height: 30vw;
}

.email-content h3 {
	font-size: 1.6vw;
	margin-top: 0;
}

.email-reply {
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	width: 100%;
	padding: 1.2vw 3vw 1.2vw 2.5vw;
	background: #2f2ffb;
	font-size: 1.6vw;
}

.letter-cont {
	display: none;
}

.email-reply,
.email-reply * {
	text-decoration: none;
	color: white;
	margin: 0;
}

.icon-plane {
	width: 3.5vw;
	fill: currentColor;
}

@media (max-width: 50em) {
	.letter-cont {
		display: block;
		position: fixed;
		background-color: #f9f7ec;
		border: 1px solid #f9f7ec;
		top: 56vw;
		width: 70vw;
		left: 15vw;
		z-index: 0;
		font-family: 'Dancing Script', cursive;
		padding: 4vw 7vw;
		font-size: 2.2vw;
	}
	div[class*="slanty-container-"]{
		left: calc(48vw - 49vh);
	}
	.email {
		height: auto;
		overflow: auto;
    padding-top: 0;
    max-height: 73vh;
	}
	.email * {
		position: relative;
		font-size: 1.1em;
		top: 0;
	}
	.email-content {
		padding: 2em 0 4em;
		max-height: none;
		width: 60vw;
	}
	.email-subject h2 {
		font-size: 1.4em;
		margin: 1em 0;
	}
	.email-content h3 {
		font-size: 1.154em;
	}
	.email-reply {
		position: fixed;
    bottom: 16vh;
    top: auto;
    width: 70vw;
    margin-left: -1px;
    border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
		padding: 1em 2.5vw;
		font-size: 1.1em;
	}
}
