div[class*="slanty-container-"] {
	width: 165vw;
	height: 300vh;
	position: absolute;
	z-index: 3;
	clip-path: polygon(0 0, 100% 0%, 100% 100%, 109vh 100%);
	left: calc(52vw - 49vh);
}

.slanty-container-right {
	overflow: hidden;
}

.email, 
.letter,
.info-attr-block--popup {
	position: fixed;
	top: 11vh;
	width: 70vw;
	left: 15vw;
	height: 42vw;
	max-height: 78vh;
}
.email {
	z-index: 2;
	background-color: white;
	border: 1px solid black;
	border-radius: 3px;

}

.letter {
	overflow: hidden;
	background-color: #f9f7ec;
	border: 1px solid #f9f7ec;
	z-index: 1;
}
.email::before, 
.letter::before {
	content: " ";
	display: block;
	background-color: inherit;
	height: 100%;
	width: 100%;
}


.letter-address {
	font-family: 'Dancing Script', cursive;
	position: absolute;
	left: 7vw;
	top: 14vw;
	font-size: 2.2vw;
}

.icon-stamp-bike {
	position: absolute;
	width: 7vw;
	top: 2vw;
	right: 2vw;
	z-index: 10;
	/* fill: #dad3ab; */
	fill: #ce869b;
}

.icon-stamp {
	opacity: .5;
	position: absolute;
	top: 4.5vw;
	width: 11vw;
	right: 7vw;
	z-index: 12;
	fill: black;
}

.email-container {
	position: absolute;
	top: 0;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 100%;
	overflow: auto;
}

.email-subject {
	border-bottom: 1px solid black;
	width: 100%;
	padding-left: 2.5vw;
}
.email-subject h2 {
	margin: 2vw 0;
	font-size: 2.2vw;
}

.email-content {
	padding-top: 2.5vw;
	padding-left: 2.5vw;
	width: 55vw;
	font-size: 1.2vw;
	padding-bottom: 6vw;
}

.email-content a {
	color: #2020e4;
}

.email-content h3 {
	font-size: 1.6vw;
	margin-top: 0;
}

.email-reply {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1.2vw 3vw 1.2vw 2.5vw;
	background: #2f2ffb;
	font-size: 1.6vw;
	position: absolute;
	bottom: 0;
	width: 100%;
}

.letter-cont {
	display: none;
}

.email-reply,
.email-reply * {
	text-decoration: none;
	color: white;
}

.email-reply * {
	margin: 0;
}

.icon-plane {
	width: 3.5vw;
	fill: currentColor;
}

@media (max-width: 50em) {
	div[class*="slanty-container-"]{
		left: 0;
		clip-path: none;
		position: relative;
		height: auto;
	}

	.letter {
		margin-top: 3em;
    height: 48vw;
	}

	.email,
	.letter {
		position: relative;
		top: inherit;
		width: 90vw;
    left: 5vw;
	}

	.email-container {
		position: relative;
	}

	.email {
		height: 100%;
		max-height: none; 
		margin-bottom: 5em;
	}
	.email-content {
		padding-top: 1.3em;
		padding-bottom: 1.3em;
		max-height: none;
		width: 87.5vw;
		font-size: 1em;
	}
	.email-subject h2 {
		font-size: 1.4em;
		margin: 1em 0;
    width: 87.5vw;
	}
	.email-content h3 {
		font-size: 1.154em;
	}
	.email-reply {
		padding: .7em 2.5vw;
		font-size: 1.1em;
		position: relative;
	}
}
