.info-attr-block {
	position: fixed;
	bottom: 0;
	left: 0;
}

.info-attr-block a {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0.5em .6em .6em .45em;
	background: #e8e8e8;
	color: #6d6d6d;
	border-top-right-radius: 5px;
	opacity: .4;
}
.info-attr-block a:hover {
	opacity: 1;
}

.info-attr-block p {
	font-size: .5em;
	margin: 0;
}

.info-attr-block svg {
	width: 1em;
	margin-right: .4em;
	fill: currentColor;
}

.info-attr-block--popup {
	display: none;
}

body.popup-show {
	position: fixed; 
	overflow: hidden;
}
body.popup-show::before {
	width: 100vw;
	height: 100vh;
	top: 0;
	left: 0;
	background-color: black;
	opacity: .3;
	display: block;
	content: " ";
	z-index: 6;
}

body.popup-show .info-attr-block--popup {
	display: block;
	top: 10vh;
	width: 80vw;
	height: 80vh;
	left: 10vw;
	background-color: white;
	padding: 1em 2em;
	overflow: auto;
	position: fixed;
	z-index: 7;
	border-radius: 4px;
}

body.popup-show .slanty {
	z-index: -1;
}

body.popup-show .info-attr-block {
	z-index: -1;
}
