.mc_signup_flex {
	display: flex;
	justify-content: center;
	input.email {
		border: 1px solid $mt-grey;
		border-right-color: transparent;
		border-top-left-radius: 16px;
		border-bottom-left-radius: 16px;
		padding: 8px 12px;
		margin-right: -8px;
		font-size: 14px;
		&:focus {
			outline: none;
			border-color: $mt-mid-grey;
		}
	}
	.button {
		font-size: 14px;
		padding: 8px 12px;
		border-radius: 16px;
		background-color: $mt-blue;
		border: 1px solid $mt-blue;
		margin-left: -8px;
		color: white;
		cursor: pointer;
		&:focus {
			background-color: darken($mt-blue, 10%);
			outline: none;
		}
	}
}