.sign-up {
	text-align: center;
	padding: 2em 0 6em;
	@include mq($until: tablet) {
		padding-top: 1rem;
	}
	.line-separator {
		display: block;
		height: 1px;
		background-color: $mt-light-grey;
		width: 100%;
		margin-bottom: 3rem;
	}
	p:last-of-type {
		margin-bottom: 2rem;
	}
}